@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&display=swap');


* {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0px;
    color: aliceblue;
}

body{
    padding: 0px 60px;
    background-color: rgb(86, 86, 85);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 2rem;
}

.nav h2 {
    font-family: 'Brygada 1918', serif;
}

.card-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.cards{
    margin: 1rem 4rem;
}

input {
    color: gray;
    font-size: 1.2rem;
    width: 100%;
    
}


.text-category{
    font-family: 'Brygada 1918', serif;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 0 10px 10px 0;
    /* No se salga de la pantalla */
    overflow: hidden;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    max-height: 170px;
}

